<div class="container">
    <details>

        <summary>response: </summary>
        <div>
            <pre>
            {{responseData | json}}
            </pre>
        </div>
        <p><a href="http://jsonviewer.stack.hu/" target="blank"> copy paste the json here- for better view:</a></p>
    </details>

    <hr>
    <form [formGroup]="inputForm" (ngSubmit)="onSubmit();">
        <div class="row" *ngFor="let item of dropDownFields">
            <div class="form-group col-md-6">
                <label>{{item.fieldName}}<span *ngIf="item.isRequried" class="req">*</span></label>
                <select class="form-control">
                    <option></option>
                    <option *ngFor="let x of item.values" [ngValue]="x">
                        {{x}}
                    </option>
                </select>
            </div>
        </div>
        <div class="row" *ngFor="let item of textBoxes">
            <div class="form-group col-md-6">
                <label>{{item.fieldName}}<span *ngIf="item.isRequried" class="req">*</span></label>
                <input type="text">
            </div>
        </div>
    </form>


</div>